:root {
  --main-color: #ffffff;
  --gradient: linear-gradient(132.88deg, #326cff 3.44%, #26fff2 100%);
  --main-bg-gradient: linear-gradient(to right, #ff5733, #ffbd33);
}

body {
  font-family: "Mulish", sans-serif;
  background-color: black;
  color: var(--main-color);
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ol,
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
  display: block;
}
.container {
  max-width: 1440px;
  padding-left: 80px;
  padding-right: 80px;
  margin-right: auto;
  margin-left: auto;
}
.flex {
  display: flex;
}

/* -----------------header----------- */

.header-div {
  justify-content: space-between;
}
.header-list-item:not(:last-child) {
  margin-right: 54px;
}
.header-list-item:nth-child(3) {
  margin-right: 53px;
}
.header-icon-list {
  gap: 75px;
  align-items: center;
}

.header-logo {
  font-family: Poppins;
  display: flex;
  gap: 15px;
  align-items: center;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 0em;
  color: var(--main-color);
}

.header-logo_m {
  display: flex;
  font-family: Lemon;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 0em;
  width: 70px;
  height: 70px;
  color: var(--main-color);
  border: 4px solid transparent;
  border-radius: 14px;
  align-items: center;
  justify-content: center;
  background: linear-gradient(black, black) padding-box,
    linear-gradient(132.88deg, #326cff 3.44%, #26fff2 100%) border-box;
}

.hero-title {
  animation: text-blur-out 2.5s linear 0.5s infinite alternate both;
}

@keyframes text-blur-out {
  0% {
    filter: blur(0.01);
  }
  100% {
    filter: blur(12px) opacity(0%);
  }
}
